.Search header,
.Search header input,
.Search .results {
    transition: all 0.5s ease;
}

.Search header {
    position: relative;
}

.Search.hasResults header {
}

.Search header input {
    position: absolute;
    right: 50%;
    top: 0;
    transform: translateX(50%) translateY(40vh);
    z-index: 2;
}

.Search.hasResults header input {
    font-size: 1.5em;
    transform: translateX(50%) translateY(0);
}

.Search .results {
    pointer-events: none;
    opacity: 0;
}

.Search.hasResults .results {
    pointer-events: auto;
    opacity: 1;
}
