.AlbumList .Album {
    display: grid;
    grid: 1fr / 1fr;
    height: 10em;
    width: 10em;
    margin: 0.5em;
}

.AlbumList .Album .name {
    align-self: end;
    background: rgba(0, 0, 0, .8);
    font-size: 0.7em;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    line-height: 1.5;
    opacity: 0;
    transition: opacity 0.3s;
}

.AlbumList .Album .name a {
    display: block;
    margin: 0.5em;
}

.AlbumList .Album:hover .name {
    opacity: 1;
}

.AlbumList .Album .image,
.AlbumList .Album .playback {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
