.PlayerUI {
    display: flex;
    flex-flow: column;
    height: 100vh;
    overflow: hidden;
}

.PlayerUI > .viewport {
    overflow: auto;
    flex: 1;
}

.PlayerUI > .viewport > .Navigation {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: calc(2em + 100px);
}

.PlayerUI > .viewport::-webkit-scrollbar {
    width: 8px;
}

.PlayerUI > .viewport::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
}

