.PlayerUI {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.PlayerUI .viewport {
    overflow: auto;
    flex: 1;
}

.PlayerUI .viewport::-webkit-scrollbar {
    width: 8px;
}

.PlayerUI .viewport::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
}

.PlayerUI > .Playback {
    flex: 0 0 100px;
}
