.PlayableList .items {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin: -1em;
}

.PlayableList .item {
    perspective: 200px;
}

.PlayableList .item > div {
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 1em 2em -.5em #000;
    transform: translateZ(-30px);
    transform-origin: 50px 50px;
    transition: all 0.2s ease;
}

.PlayableList .item > div:hover {
    transform: none;
}

.PlayableList .playback {
    opacity: 0;
}

.PlayableList .playback button {
    border-radius: 0 0 2em 0;
    height: 2.5em;
    padding: 0 1em 0 .5em;
    text-align: left;
}

.PlayableList .item > *:hover .playback {
    opacity: 1;
}
