@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.PlayableList > * {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: -1em;
}

.PlayableList .item {
    perspective: 200px;
    animation: reveal 0.5s 1 cubic-bezier(0, 0, 0, 1.0);
}

.PlayableList .item > * {
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 1em 2em -.5em #000;
    transform: rotateY(6deg) rotateX(2deg) translateZ(-30px);
    transform-origin: 50px 50px;
    transition: all 0.2s ease;
}

.PlayableList .item > *:hover {
    transform: rotateX(0) rotateY(0) translateZ(0);
}

.PlayableList .playback {
    display: none;
}

.PlayableList .playback button {
    border-radius: 0 0 2em 0;
    height: 2.5em;
    padding: 0 1em 0 .5em;
    text-align: left;
}

.PlayableList .item > *:hover .playback {
    display: initial;
}
