@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Navigation .ViewContainer > * {
    animation: enter 0.4s 1 cubic-bezier(0, 0, 0, 1.0);
}
