.TrackList .Track {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  font-size: 20px;
  grid: 50% 50% / 3em 35% 35% auto;
  padding: 0.5em 0;
  transition: background-color 0.3s ease;
}

.TrackList .Track:nth-child(even) {
  background: rgba(0, 0, 0, 0.6);
}

.TrackList .Track:nth-child(odd) {
  background: rgba(0, 0, 0, 0.65);
}

.TrackList .Track:hover {
  background: rgba(0, 0, 0, 0.7);
}

.TrackList .Track .name {
  grid-row: 1 / 2;
}

.TrackList .Track .name,
.TrackList .Track .artists,
.TrackList .Track .album {
}

.TrackList .Track .playback {
  grid-column: 1 / 1;
  grid-row: 1 / end;
  justify-self: center;
}

.TrackList .Track .playback .PlayButton {
  background: none;
  display: block;
  font-size: 0;
  opacity: 0;
  height: 20px;
  width: 20px;
}

.TrackList .Track:hover .playback .PlayButton {
  opacity: 1;
}

.TrackList .Track .album {
  font-size: 0.7em;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.TrackList .Track .artists {
  font-size: 0.9em;
}
