.PlayerUI {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.PlayerUI > .viewport {
  display: grid;
  grid-template-columns: 160px 1fr;
}

.PlayerUI > .viewport > nav {
  background: #040404;
  padding: 16px;
}

.PlayerUI > .viewport::-webkit-scrollbar {
  width: 8px;
}

.PlayerUI > .viewport::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

.PlayerUI .compass {
  background: #0005;
  border-radius: 0 0 16px 16px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 32px;
  padding: 8px 32px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 2;
}

.PlayerUI .compass a {
  color: #fff;
}
