.PlayerUI {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
}

.PlayerUI > .viewport {
  flex: 1;
  overflow: auto;
}

.PlayerUI > .viewport > .Navigation {
  max-width: 1400px;
  margin: 0 auto;
}

.PlayerUI > .viewport::-webkit-scrollbar {
  width: 8px;
}

.PlayerUI > .viewport::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}


.PlayerUI .compass {
  background: #0005;
  border-radius: 0 0 16px 16px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 32px;
  padding: 8px 32px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 2;
}

.PlayerUI .compass a {
  color: #fff;
}
