.Image {
    background-color: #222;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    height: 10em;
    width: 10em;
}

.Image.ready {
    opacity: 1;
    transition: opacity 1s ease;
}
