.PlaylistDetailHeader {
    display: flex;
    margin-bottom: 2em;
}

.PlaylistDetailHeader h2 {
    position: relative;
}

.PlaylistDetailHeader .Image {
    margin-right: 2em;
    height: 15em;
    width: 15em;
}
