.Tracklist .Track {
  display: flex;
    align-items: center;
}

.Tracklist .Track:hover {
}

.Tracklist .Track .name,
.Tracklist .Track .artists,
.Tracklist .Track .album {
  flex: 30%;
}

.Tracklist .Track .artists {
  display: flex;
}

.Tracklist .Track .artists .artist:not(:first-child):before {
  content: ', ';
}

.Tracklist .Track .album {
  font-size: 0.9em;
}
