.Tracklist .Track {
  display: grid;
    grid:  50% 50% / 3em 35% 35% auto;
    grid-gap: 0.2em 0.2em;
    align-items: center;
  margin: .5em 0;
}

.Tracklist .Track {
    border-bottom: 1px solid #222;
}

.Tracklist .Track:nth-child(even) {
    background: #000;
}

.Tracklist .Track:hover {
}

.Tracklist .Track .name,
.Tracklist .Track .artists,
.Tracklist .Track .album {

}

.Tracklist .Track .playback {
    grid-column: 1 / 1;
    grid-row: 1 / end;
}

.Tracklist .Track .album {
  font-size: 0.7em;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.Tracklist .Track .artists {
    font-size: 0.9em;
}

.Tracklist .Track .album a {
  color: #999;
}
