.PlaylistList .Playlist {
    display: grid;
    grid: repeat(3, 1fr) / 5em 10em;
    grid-column-gap: 0.5em;
    height: 5em;
    margin: 1em;
}

.PlaylistList .Playlist .image {
    grid-column: 1 / 1;
    grid-row: 1 / 4;
}

.PlaylistList .Playlist .Image {
    height: 100%;
    width: 100%;
}

.PlaylistList .Playlist .playback {
    grid-column: 1;
    grid-row: 1;
}

.PlaylistList .Playlist .owner {
    align-self: end;
}
