.Playback {
    background: rgba(0, 0, 0, .8);
    box-shadow: 0 0 2em #000;
    display: grid;
    grid:  1em auto / repeat(3, 1fr);
}

.Playback .NowPlaying,
.Playback .Interface {
    margin: 0.8em;
}

.Playback .Scrubber {
    grid-column: 1 / end;
    grid-row: 1 / 1;
}

.Playback .vis {
    text-align: right;
    margin: 0.5em;
}
