.Playback .NowPlaying {
    display: grid;
    height: 4em;
    grid-template: 1fr / 4em auto;
    grid-column-gap: 0.5em;
}

.Playback .NowPlaying .Image {
    border-radius: .5em;
    overflow: hidden;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    height: 100%;
    width: 100%;
}

.Playback .NowPlaying .Artists {
    font-size: 0.8em;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: end;
}

.Playback .NowPlaying .trackName {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
