body {
  background: #050510;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body, input, button {
  font-family: 'Comfortaa', sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

button {
  border: none;
  background: yellow;
  color: black;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

button:hover {
  background: black;
  color: yellow;
}
