body {
  background: #050510;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  color: #ccc;
  transition: color 0.2s;
  text-decoration: none;
}

a:hover {
  color: #eee;
}

button {
  border: none;
  background: yellow;
  color: black;
}
