body {
  background: #050510;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body, input, button {
  font-family: 'Comfortaa', sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

button {
  border: none;
  background: yellow;
  color: black;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

button:hover {
  background: black;
  color: yellow;
}

input {
  background: #000;
  border: solid 2px yellow;
  color: #fff;
  outline: none;
}

.QuickSearch input,
.Search header input {
    border-radius: 1.5em;
    font-size: 3em;
    text-align: center;
    padding: .2em 0;
    width: 10em;
}
