.PlayerApplication {
    display: grid;
}

.PlayerApplication .PlayerUI {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    z-index: 2;
}

.PlayerApplication .Visuals {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    z-index: 1;
}

.PlayerApplication .PlayButton {
    transition: all 0.3s ease;
}

.PlayerApplication.pending .PlayButton {
    pointer-events: none;
    opacity: 0;
}
